.card {
  width: 100%;
  max-width: 48rem; /* 4xl */
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
  min-width: 27rem;
}

.icon {
  width: 12rem; /* 48 */
  height: 12rem; /* 48 */
  color: #d1d5db; /* color-gray-400 */
  margin-bottom: 2rem; /* margin-bottom de 8 */
}

.title {
  font-size: 2.25rem; /* text-4xl */
  font-weight: 700; /* font-bold */
  margin-bottom: 1rem; /* margin-bottom de 4 */
}

.text {
  color: #6b7280; /* text-gray-500 */
  font-size: 1.25rem; /* text-xl */
  margin-bottom: 2rem; /* margin-bottom de 8 */
}

.button {
  padding: 0.75rem 1.5rem; /* px-6 py-3 */
  font-size: 1.125rem; /* text-lg */
}

@media (max-width: 768px) {
  .card {
    min-width: auto; /* Permite que el contenido se ajuste al ancho de la pantalla */
    justify-content: flex-start;
  }

  .cardContent {
    margin-left: 0; /* Elimina el margen izquierdo fijo */
    min-width: auto; /* Permite que el contenido se ajuste al ancho de la pantalla */
  }
}