.contentNoItems {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: min-content;
}

.contentNoItemsInventario {
    margin-top: 2rem;
}

.contentNoItemsLDiario {
    margin-top: 2rem;
}

.pantallaCarga {
    background: #000;
}

.pantallaCargaLight {
    background: #ffffff;
}

.pantallaCargaDark {
    background: #000;
    
}

.bolitaLight {
    color: #000;
}

.bolitaDark {
    color: #ffffff;
}

.separacion {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.separacionLight {
    border-top: 1px solid #000000;
}

.separacionDark {
    border-top: 1px solid #ffffff;
}

@media (max-width: 768px) {
    
    .separacion {
        width: 100%;
    }
}