/* Estilos base */
.menuContentPrincipal {
  transition: width 0.3s ease-in-out;
  display: flex;
  width: 16rem; /* w-64 */
  max-height: 100vh; /* Limita la altura al 100% del viewport */
}

/* Estilos para el tema claro */
.themeLight {
  background-color: rgb(248, 248, 248);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: rgb(17, 24, 39);
}

/* Estilos para el tema oscuro */
.themeDark {
  background-color: rgb(28, 28, 28);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: rgb(209, 213, 219);
}

/* Estilos para el tema oscuro */
.menuContentPrincipal.collapsed {
  padding: 0.9rem;
  padding-top: 1.3rem;
  width: 4.4rem;
}

.menucontent.collapsed {
  padding: 0;
  width: 0;
  margin-top: 0.5rem;
  transition: width 0.2s ease-in-out;
}

.menudesplegable1.collapsed {
  display: none;
}

.menudesplegable2.collapsed {
  display: flex;
  visibility: visible; /* Hace el botón visible */
  opacity: 1; /* Hace el botón completamente visible */
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.menucontent {
  padding: 1.1rem;
  overflow-y: auto;
  max-height: 100vh;
  height: 100vh;
  width: 16rem;
}

/* Estilos para el botón de menú desplegable */
.menudesplegable1 {
  display: flex; /* Muestra el botón por defecto */
  justify-content: center;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}

.menudesplegable2 {
  display: none; /* Oculta el botón por defecto */
  visibility: hidden;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.menuheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.apptitle {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Estilos para el botón cuando está visible */
.configbutton {
  display: none;
  position: absolute; /* Posicionamiento absoluto */
  top: 5rem; /* top-20 */
  left: 0.5rem; /* left-2 */
}

/* Estilos para ocultar el botón */
.configbutton.hidden {
  display: flex; /* Oculta el botón */
}

.menudesplegable {
  display: none;
  margin-left: 2.5rem;
  justify-content: flex-end;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}

.userbutton {
  width: 100%;
  height: 58px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
}

.useravatar {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.username {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userpopover {
  width: 20rem;
  padding: 0;
  transform: translateX(1rem);
  border-radius: 1.5rem;
}

.userinfo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.useravatarlarge {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.avatarfallback {
  font-size: 1.125rem;
  font-weight: bold;
}

.userdisplayname {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 1rem;
}

.useremail {
  font-size: 0.875rem;
  color: #6b7280;
}

.divider {
  border-top: 1px solid #9ca3af;
  margin: 1rem 0;
}

.loginbutton {
  width: 100%;
  margin-bottom: 1rem;
}

.mainnav {
  display: flex;
  flex-direction: column;
}

.navitem {
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.menuitem {
  border-radius: 0;
  font-size: 1rem;
  width: 100%;
  height: 45px;
  justify-content: flex-start;
}

.menuitemlogout {
  border-radius: 0;
  font-size: 1rem;
  width: 100%;
  height: 45px;
  justify-content: flex-start;
  margin-bottom: 1rem;
}


.iconconfig {
  height: 1.3rem;
  width: 1.3rem;
}

.icon {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.iconsmall {
  margin-left: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.navitemgroup {
  position: relative;
}

.subnav {
  padding-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.maincontent {
  flex: 1;
  padding: 2rem;
  overflow: auto;
  margin-right: 3rem;
}

.aipanel {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 4rem;
}

.aipanel.open {
  width: 24rem;
}

.aitoggle {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.chatmessages {
  flex-grow: 1;
  overflow: auto;
  padding: 1rem;
  padding-top: 4rem;
}

.message {
  margin-bottom: 1rem;
}

.message.user {
  text-align: right;
}

.messagecontent {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.chatinput {
  padding: 1rem;
  border-top: 1px solid #e5e7eb;
}

.inputwrapper {
  margin-bottom: 0.5rem;
}

.messageinput {
  width: 100%;
}

.inputactions {
  display: flex;
  justify-content: space-between;
}

.sronly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}

/* Theme-specific styles */
.dashboard.dark {
  background-color: #121212;
  color: #e5e7eb;
}

.dashboard.light {
  background-color: #f3f4f6;
  color: #1f2937;
}

.maincontent.dark {
  background-color: #0f0f0f;
}

.maincontent.light {
  background-color: #555555;
}

.aipanel.dark {
  background-color: #1c1c1c;
}

.aipanel.light {
  background-color: #f8f8f8;
}

.messagecontent.dark.user {
  background-color: #0f0f0f;
  color: #e5e7eb;
}

.messagecontent.light.user {
  background-color: #e5e7eb;
  color: #1f2937;
}

.messagecontent.dark.assistant {
  background-color: #191919;
  color: #e5e7eb;
}

.messagecontent.light.assistant {
  background-color: #e5e7eb;
  color: #1f2937;
}

@media (max-width: 768px) {
  .menudesplegable {
    display: flex;
    margin-left: 2.5rem;
    justify-content: flex-end;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
  }
}