.contenidoservicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem 0;
}

.contenidoIzquierdoServicio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 10rem;
}