.serviciosContainer {
  display: flex;
  /* flex */
  justify-content: space-between;
  /* justify-between */
  align-items: center;
  /* items-center */
  margin-bottom: 1rem;
  /* mb-4 */
}

.serviciosCabecera {
  margin-bottom: 2rem;
}

.separacion {
  margin-top: 1rem; /* Equivalente a my-4 */
  margin-bottom: 1rem;
}

.separacionLight {
  border-top: 1px solid #000000; /* Equivalente a border-gray-400 */
}

.separacionDark {
  border-top: 1px solid #ffffff; /* Equivalente a border-gray-400 */
}

.nameService {
  font-size: 1.4rem;
}

.serviciosContentent {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.dialogServiceContent {
  width: auto;
  /* Se ajusta dinámicamente al contenido */
  max-width: 800px;
  /* No se expande demasiado en pantallas grandes */
  max-height: 90vh;
  /* Evita que se corte en pantallas pequeñas */
  overflow-y: auto;
  /* Scroll solo si es necesario */
  padding: 1.5rem;
}

.contenidoservicio {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  /* Más espacio para el lado derecho */
  gap: 1.5rem;
  /* Aumentamos el espacio entre las columnas */
  padding: 1rem 0;
}

.contenidoIzquierdoServicio {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  /* Reducimos el espacio entre los campos */
}

.campoExIVA {
  margin: 1rem;
}

.camposIzq {
  width: 100%;
  min-width: 200px;
  /* Ocupa todo el ancho disponible */
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  /* Reducimos el espacio entre los elementos */
}

.camposDetalle {
  padding-right: 0.2rem;
}

.campoVTot {
  margin: 1rem;
}

.contenidoDerechoServicio {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* Aumentamos el espacio entre los elementos */
}

.contenedorTabla {
  /* Aumentamos el padding */
  border-radius: 0.375rem;
  /* Equivalente a rounded-md */
  overflow-x: auto;
  /* Permite scroll horizontal si es necesario */
  width: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tabla {
  width: 100%;
}

/* Asegurar que los th tengan el mismo estilo que los campos de la izquierda */
.camposDere {
  width: 25%;
  margin-right: 1rem;
  /* Aumentamos el padding en los encabezados */
  font-family: inherit;
  /* Heredar la fuente del contenedor */
  font-size: 0.875rem;
  /* Tamaño de fuente similar a los campos de la izquierda */
  font-weight: 500;
  /* Peso de la fuente (medium) */
  text-align: left;
  /* Alinear texto a la izquierda */
}

.SelectTrigger {
  width: 100%;
  padding: 0.75rem;
  /* Aumentamos el padding */
}

.inputDetalle {
  width: 100%;
  padding: 0.75rem;
}

.inputDetallePrincipal {
  width: 100%;
}

.botonAdd {
  margin-top: 0.75rem;
  width: 100%;
  padding: 0.75rem;
}

/* Estilos para la tarjeta (Card) */
.card {
  border-radius: 0.5rem;
  color: var(--card-foreground);
  display: flex;
  flex-direction: column;
  min-width: max-content;
  width: 483px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la tarjeta */
}

/* Estilos para el encabezado de la tarjeta (CardHeader) */
.cardHeader {
  background-color: rgb(247, 247, 247);
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.cardHeaderLight {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: rgb(49, 49, 49);
}

/* Estilos para el título de la tarjeta (CardTitle) */
.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitleLight {
  color: rgb(255, 255, 255);
}

/* Estilos para el tema oscuro */
.cardTitleDark {
  color: rgb(17, 24, 39);
}

/* Estilos para el contenido de la tarjeta (CardContent) */
.cardContent {
  flex-grow: 1;
  padding: 1rem;
  background-color: var(--card-background);
  height: auto;
}

/* Estilos para los elementos dentro del contenido */
.cardContent p {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.cardContent span {
  font-weight: 500;
}

.cardContent svg {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  color: var(--muted-foreground);
}

/* Estilos para el pie de la tarjeta (CardFooter) */
.cardFooter {
  padding: 1.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para los botones en el pie de la tarjeta */
.cardFooter button {
  margin-left: 0.4rem;
  font-size: 0.875rem;
}

.cardFooter button svg {
  height: 1rem;
  width: 1rem;
}

.cardFooterLight {
  background-color: rgb(227, 227, 227);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.cardFooterDark {
  background-color: rgb(28, 28, 28);
}

.buttonGroupA {
  margin-right: 1rem;
}

.buttonGroupB {
  margin-right: 0.34rem;
}

.campoInfDere {
  display: flex;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkboxLabel {
  margin-left: 8px;
}

/* Adaptación a móviles */
@media (max-width: 768px) {

  .serviciosContentent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min-content;
    padding-right: 2.8rem;
  }

  .separacion {
    width: max-content;
  }

  .contenidoservicio {
    grid-template-columns: 1fr;
  }

  .flex-item {
    flex: 1 1 calc(50% - 1.5rem);
  }

  .dialogServiceContent { 
    max-width: 44vh;
    margin-right: 3rem;
    border-radius: 0.5rem;
  }

  .btnFooter {
    margin-top: 0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* Pantallas grandes (lg) - 3 columnas */
@media (min-width: 1024px) {
  .flex-item {
    flex: 1 1 calc(33.333% - 1.5rem);
  }
}